<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Verifica tu email escribiendo 'VERIFICAR' y haciendo click en el siguiente boton</b>
    <form id="formulario">
        <input type="text" id="Verificar" placeholder="Escribe tu nombre de usuario">
        <button type= "submit" id="VerificarButton">Verificar</button>
    </form>
    <script src="index.js"></script>
</body>
</html>